.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 60px;
  background: linear-gradient(135deg, #4e73df, #6f42c1);
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000;
}



.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  
}

.nav-links li {
  cursor: pointer;
  
}

.login-bttn {
  background: white;
  color: #4e73df;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 20px;
  }

  .desktop-only {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}


@media (min-width:1024px){

  .mobile-only{
    display: none;
  }

}