/* Page layout */

.exam-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f6f9;
  padding:20px;
  margin-top:20px;
}


/* Question Card */

.question-card{
  width:100%;
  max-width:650px;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


/* Question Title */

.question-card h3{
  margin-bottom:15px;
  font-size:20px;
  color:#333;
}


/* Question Text */

.question-card p{
  font-size:18px;
  margin-bottom:20px;
}


/* Options */

.question-card label{
  display:block;
  border:1px solid #ddd;
  padding:12px;
  margin-bottom:10px;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.question-card label:hover{
  background:#f1f1f1;
}

.question-card input{
  margin-right:10px;
}



button{
  padding:10px 22px;
  border:none;
  background:#007bff;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-size:15px;
}

button:hover{
  background:#0056b3;
}

button:disabled{
  background:gray;
  cursor:not-allowed;
}

.submit-container{
  text-align: center;
  margin-top: 25px;
}
.submit-btn{
  background: linear-gradient(135deg,#28a745,#20c997);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Tablet */

@media (max-width:768px){

  .question-card{
    padding:25px;
  }

  .question-card h3{
    font-size:18px;
  }

  .question-card p{
    font-size:16px;
  }

}


/* Mobile */

@media (max-width:480px){

  .question-card{
    padding:20px;
  }

  .question-card h3{
    font-size:16px;
  }

  .question-card p{
    font-size:15px;
  }

  .buttons{
    flex-direction:column;
    gap:10px;
  }

  button{
    width:100%;
  }

}

@media (min-width:1024px) {
    .exam-container{
        margin-top: 40px;
    }
}